.list
  display: flex
  justify-content: center
  
.btn
  width: 30px
  height: 30px
  color: #000
  text-decoration: none
  border: 1px solid #cbe1ff
  display: flex
  align-items: center
  justify-content: center

.active
  background: #cbe1ff
